{% extends 'admin/index.html.twig' %}
{% block title %}Listing des Factures |
	{{parent()}}
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col">
				<h2 class="text-right ml-3">Listing Factures</h2>
				<div  class="col-12 col-lg-10 col-xl-10 mx-auto my-4 py-3 px-3 ">
				{% for year in years %}
					<div class="accordion col-12 col-md-8 " id="accordionExample">
						<div class="accordion-item">
							<h2 class="accordion-header">
								<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{loop.index}}" aria-expanded="true" aria-controls="collapse{{loop.index}}">
									Année -
									{{year}}
								</button>
							</h2>
							<div id="collapse{{loop.index}}" class="table-responsive accordion-collapse collapse {{loop.index == 1 ? 'show' : ''}}" aria-labelledby="heading{{loop.index}}" data-bs-parent="#accordionExample">

								<table class="table">
									<thead>
										<tr>
											<th scope="col">Ref.</th>
											<th scope="col">Entreprise</th>
											<th scope="col">Date d'ajout</th>
											<th scope="col">Url</th>
											<th scope="col">Lu/Non lu</th>
										</tr>
									</thead>
									<tbody>
										{% for facture in factures %}
											{% if facture.dateAjout|date('Y') == year %}
												<tr>
													<th scope="row">{{facture.reference}}</th>
													<td>
														{{facture.user.entreprise}}
													</td>
													<td>{{facture.dateAjout|date('d/m/Y')}}</td>
													<td>
														<a class="badge rounded-pill bg-info text-dark" href="{{facture.url}}" target='_blank'>Voir</a>
														<a class="badge rounded-pill bg-primary" href="{{facture.url}}" download>Télécharger</a>
													</td>
													<td>{{facture.readed ? '<span class="badge bg-primary">Lu</span>' : '<span class="badge bg-danger">Non Lu</span>'}}</td>

												</tr>
											{% endif %}
										{% endfor %}
									</tbody>
								</tbody>
							</table>
						</div>
					</div>
				{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
