{% extends 'base.html.twig' %}

{% block title %}Dashboard |
	{{parent()}}
{% endblock %}

{% block body %}
	<div>
		<h1>Dashboard</h1>
		{% for flashMessage in app.flashes('info_home')%}
			<div class="alert alert-info">{{flashMessage}}</div>
		{% endfor %}
		<ul>
			<li>
				<a alt="profil" href="{{path('app_profile')}}">Profil</a>
			</li>
			<li>
				<a alt="modifier" href="{{path('app_edit_profile')}}">Edite Profil</a>
			</li>
			<li>
				<a alt="supprimer" href="{{path('app_delete_profile')}}">Supprimer Profil</a>
			</li>
			{% if is_granted('ROLE_ADMIN') %}
				<li>
					<a alt="dashboard admin" href="{{path('app_admin_home')}}">Dashboard Admin</a>
				</li>
			{% endif %}
		</ul>
	</div>
{% endblock %}
