{% extends 'base.html.twig' %}

{% block title %}Listes des Interventions |
	{{parent()}}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col">
				<h2 class="text-right ml-3 text-dark">Liste des Interventions</h2>

				<div class="py-2 py-md-5 my-auto h-80">
					<div class="row d-flex justify-content-center align-items-center h-100">
						<div class="col col-lg-12 mb-4">
							<div class="shadow mb-3">

								<div class="card bg-white scroll">

									<div>
										<div class="card d-flex flex-row justify-content-around text-center bg-gray text-white">
											<div class="col my-2">
												<strong>Entreprise</strong>
											</div>
											<div class="col d-none d-md-none d-lg-inline my-2">
												<strong>Sujet</strong>
											</div>
											<div class="col d-none d-lg-inline my-2">
												<strong>Date de Début</strong>
											</div>
											<div class="col d-none d-lg-inline my-2">
												<strong>Date de fin</strong>
											</div>
											<div class="col my-2">
												<strong>Action</strong>
											</div>
										</div>
										{% set i = 0 %}
										{% for intervention in interventions %}

											{% if i == 0 %}
												<div class="card d-flex flex-row justify-content-around mx-auto text-center">
												{% set i = 1 %}
												{% else %}
												<div class="card d-flex flex-row justify-content-around mx-auto text-center bg-lightgray">
												{% set i = 0 %}
											{% endif %}
													<div class="col my-2">
														<p class="card-text">
															{{user.entreprise}}
														</p>
													</div>
													<div class="col d-none d-lg-inline my-2">
													<p class="card-text">{{intervention.sujet[:10]}}</p>
													</div>
													<div class="col d-none d-lg-inline my-2">
														<p class="card-text">
															{{intervention.dateDebut|date('d/m/Y - H:i')}}
														</p>
													</div>
													<div class="col d-none d-lg-inline my-2">
														<p class="card-text">
															{{intervention.dateFin|date('d/m/Y - H:i')}}
														</p>
													</div>
													<div class="col d-flex justify-content-around my-2">
														<div>
															<a class="badge bg-success text-white" href="{{path('app_intervention', {'id':intervention.id})}}">Voir</a>
														</div>
													</div>
												</div>
											
										{% endfor %}

										<div class="card justify-content-around text-center" style="height:42px"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div></div>{% endblock %}
