{% extends 'admin/index.html.twig' %}
{% block title %}Les Demandes |
	{{parent()}}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col">
				<h2 class="text-right ml-3 text-white">Listing Demandes</h2>
				<div class="">
					<a class="btn btn-primary" href="{{path('app_admin_message')}}" role="button">
						<i class="bi bi-chat-quote"></i>
						Envoyer un message
					</a>
				</div>
				<div class="py-2 py-md-5 my-auto h-100">
					<div class="row d-flex justify-content-center align-items-center h-100">
						<div class="col col-lg-12 mb-4">
							<div class="shadow mb-3">

								<div class="card">

									<div>
										<div class="card d-flex flex-row justify-content-around text-center">
											<div class="col my-2">
												<strong>Entreprise</strong>
											</div>
											<div class="col d-none d-md-none d-lg-inline my-2">
												<strong>Date Envoi</strong>
											</div>
											<div class="col d-none d-md-none d-lg-inline my-2">
												<strong>Sujet</strong>
											</div>
											<div class="col d-none d-lg-inline my-2">
												<strong>Detail</strong>
											</div>
											<div class="col my-2">
												<strong>Action</strong>
											</div>
										</div>
										{% for demande in demandes %}

											<div class="card d-flex flex-row justify-content-around mx-auto text-center">
												<div class="col my-2">
													<p class="card-text">{{demande.user.entreprise}}</p>
												</div>
												<div class="col d-none d-lg-inline my-2">
													<p class="card-text">{{demande.dateEnvoi|date('d/m/Y')}}</p>
												</div>
												<div class="col d-none d-lg-inline my-2">
													<p class="card-text ">{{demande.sujet}}</p>
												</div>
												<div class="col d-none d-lg-inline my-2">
													{{demande.readed ? '<span class="badge bg-primary">Lu</span>' : '<span class="badge bg-danger">Non Lu</span>'}}
												</div>
												<div class="col d-flex justify-content-around my-2">
													<div>
														<a class="badge bg-success text-white" href="{{path('app_admin_show_demande', {'id':demande.id})}}">Lire</a>
													</div>
												</div>
											</div>

										{% endfor %}
									</div>
									<div class="card justify-content-around text-center" style="height:42px"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div></div>{% endblock %}
