{% extends 'admin/index.html.twig' %}

{% block title %}Plannig |
	{{parent()}}
{% endblock %}

{% block body %}
	{% for flashMessage in app.flashes('info')%}
		<div class="alert alert-info">{{flashMessage}}</div>
	{% endfor %}

	<div class="container-md" {{ stimulus_controller('planning')}}>
		<div class="row">
			<div class="col">
				<h2 class="text-right ml-3 text-white">Planning</h2>
				<div class="">
					<a class="btn btn-primary" href="{{path('app_admin_interventions')}}" role="button">
						<i class="bi bi-file-earmark-diff"></i>
						Listing Intervention
					</a>
				</div>
				<div class="py-2 py-md-5 my-auto h-100">
					<div class="row d-flex justify-content-center align-items-center h-100">
						<div class="col col-lg-10 mb-4 overflow-hidden">
							<div class="shadow mb-3 bg-white rounded overflow-hidden">
								<div class="card">
									<div id='action-schedule' class="d-flex flex-wrap"></div>
									<div id="schedule" class="overflow-hidden"></div>
									<div id="action-week"></div>
									<div id="week"></div>
									<div id="action-day"></div>
									<div id="day"></div>
									<div id="modal" class="col-9 col-md-10 py-3"></div>


									<div id="modalForm" class="col-9 col-md-10 py-3 vh-100">
										<div class="card">
											<form class="p-3 col" method="post">
												<div>
													<label for="dateFrom">Du</label>
													<input type="datetime-local" name="dateFrom" id="dateFrom">
													<label for="dateTo">Au</label>
													<input type="datetime-local" name="dateTo" id="dateTo">
													<label for="entreprise">Entreprise</label>
													{{form(form)}}
														<input id="valid" name="valid" type="submit" value="Envoyer">
													</div>
												</form>
												<div>
													<button id="closeButton">X</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
