{% extends 'base.html.twig' %}
{% block title %}Vos messages |
	{{parent()}}
{% endblock %}


{% block body %}
	<div class="container">
		<div class="row">
			<div class="col">
				<h2 class="text-right ml-3 text-white">Messages</h2>
				<div class="">
					<a class="btn btn-primary" href="{{path('app_demande')}}" role="button">
						<i class="bi bi-send-plus"></i>
						Envoyer une demande
					</a>
				</div>
				<div class="shadow col-12 col-lg-10 col-xl-10 mx-auto my-4 py-3 px-3 rounded bg-white scroll">
					<ul class="list-unstyled">
						{% for message in conversation %}
							{% if side[loop.index - 1] == 1 %}
								<li class="d-flex justify-content-between mb-4">
									<img src="https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_600,h_647/https://www.pixel-online.fr/wp-content/uploads/2020/02/anthony-paris-1.jpg" alt="avatar" class="rounded-circle   d-none d-md-flex align-self-start me-3 shadow-1-strong" width="60">
									<div class="card w-100">
										<div class="card-header d-flex justify-content-between p-3">
											<p class="fw-bold mb-0">Anthony Paris</p>
											<p class="fw-bold mb-0 d-none d-md-inline">{{message.sujet}}</p>
											<a href="{{userFolder}}{{message.dateEnvoi|date('Y')}}/{{message.pieceJointe}}" target="_blank">
												<i class="bi bi-paperclip primary"></i>
												<span class="d-none d-lg-inline">Pièce jointe</span>

											</a>
											<p class="text-muted small mb-0">
												<i class="d-none d-lg-inline bi bi-clock"></i>
												{{message.dateEnvoi|date('d/m/Y')}}<span class="d-none d-lg-inline">-{{message.dateEnvoi|date('H:i:s')}}</span>
											</p>
										</div>
										<div class="card-body">
											<p class="mb-0">
												{{message.contenu|raw}}
											</p>
										</div>
									</div>
								</li>
							{% else %}

								<li class="d-flex justify-content-between mb-4">
									<div class="card w-100">
										<div class="card-header d-flex justify-content-between p-3">
											<p class="fw-bold mb-0">Vous</p>
											<p class="fw-bold mb-0 d-none d-md-inline">{{message.sujet}}</p>
											<a href="{{userFolder}}{{message.dateEnvoi|date('Y')}}/{{message.pieceJointe}}" target="_blank">
												<i class="bi bi-paperclip primary"></i>
												<span class="d-none d-lg-inline">Pièce jointe</span>

											</a>
											<p class="text-muted small mb-0">
												<i class="d-none d-lg-inline bi bi-clock"></i>
												{{message.dateEnvoi|date('d/m/Y')}}<span class="d-none d-lg-inline">-{{message.dateEnvoi|date('H:i:s')}}</span>
											</p>
										</div>
										<div class="card-body">
											<p class="mb-0">
												{{message.contenu|raw}}
											</p>
										</div>
									</div>
									<img src="https://via.placeholder.com/600/000000/FFFFFF?text={{message.user.nom[:1]}}" alt="avatar" class="rounded-circle d-none d-md-flex align-self-start ms-3 shadow-1-strong" width="60">
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
