{% extends 'base.html.twig' %}
{% block title %}Vos Factures |
	{{parent()}}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col">
				<h2 class="text-right ml-3 text-dark">Factures</h2>
				{% include "forms/searchbar_facture.html.twig" %}
				<div class="py-2 my-auto mt-4">
					<div class="row d-flex justify-content-center align-items-center">
						<div class="col col-lg-12 mb-4 ">
							<div class="shadow mb-3 p-1 bg-white rounded">
								<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
									{% for year in years %}
										<li class="nav-item" role="presentation">
											<button class="nav-link {% if loop.index == 1 %}active show{% endif %} border border-bottom-0" id="pills-{{year}}-tab" data-bs-toggle="pill" data-bs-target="#pills-{{year}}" type="button" role="tab" aria-controls="pills-{{year}}" aria-selected="true">{{year}}</button>
										</li>
									{% endfor %}
								</ul>
								<div class="tab-content" id="pills-tabContent">
									{% for year in years %}
										<div class="tab-pane fade {% if loop.index == 1 %}active show{% endif %}" id="pills-{{year}}" role="tabpanel" aria-labelledby="pills-{{year}}-tab" tabindex="0">
											<div class="card d-flex flex-row justify-content-around text-center text-white bg-gray">
												<div class="col my-2">
													<strong>Date</strong>
												</div>
												<div class="col my-2">
													<strong>Action</strong>
												</div>
												<div class="col d-none d-lg-inline my-2">
													<strong>Message(opt)</strong>
												</div>
											</div>
											{% set i = 0 %}
											{% for facture in factures %}
												{% if facture.dateAjout|date('Y') == year %}
													{% if i == 0 %}
														<div class="card d-flex flex-row justify-content-around mx-auto text-center">
															<div class="col my-2">
																<p class="card-text">{{facture.dateAjout|date('d/m/Y')}}</p>
															</div>
															<div class="col d-flex justify-content-around my-2">
																<div>
																	<a class="badge rounded-pill bg-info text-dark d-none d-lg-inline-block" href="{{userFolder}}{{facture.dateAjout|date('Y')}}/{{facture.url}}" target='_blank'>Voir</a>
																	<a class="badge rounded-pill bg-primary" href="{{userFolder}}{{facture.dateAjout|date('Y')}}/{{facture.url}}" download>Télécharger</a>
																</div>
															</div>
															<div class="col my-2">
																<p class="card-text d-none d-lg-inline">{{facture.message[10:]}}</p>
															</div>
														</div>
														{% set i = 1 %}
													{% else %}
														<div class="card d-flex flex-row justify-content-around mx-auto text-center bg-lightgray">
															<div class="col my-2">
																<p class="card-text d-none d-lg-inline">{{facture.dateAjout|date('d/m/Y')}}</p>
															</div>
															<div class="col d-flex justify-content-around my-2">
																<div>
																	<a class="badge rounded-pill bg-info text-dark d-none d-lg-inline-block" href="{{userFolder}}{{facture.dateAjout|date('Y')}}/{{facture.url}}" target='_blank'>Voir</a>
																	<a class="badge rounded-pill bg-primary" href="{{userFolder}}{{facture.dateAjout|date('Y')}}/{{facture.url}}" download>Télécharger</a>
																</div>
															</div>
															<div class="col my-2">
																<p class="card-text d-none d-lg-inline">{{facture.message[10:]}}</p>
															</div>
														</div>
														{% set i = 0 %}
													{% endif %}

												{% endif %}
											{% endfor %}
										</div>
									{% endfor %}
								</div>
								<div class="card d-flex flex-row justify-content-around text-center bg-light" style="height:42px">
									<div class="col my-2"></div>
									<div class="col my-2"></div>
									<div class="col d-flex justify-content-around my-2"></div>
									<div class="col d-none d-lg-inline my-2"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div></div></div>{% endblock %}
