<div class="container-fluid p-0">
	<div id="bg-app" class="position-absolute"></div>

	<div class="row w-100">
		<div class="shadow-lg col-3 col-md-2 col-xl-2 px-sm-2 px-0 bg-gray">
			<div class="d-flex flex-column align-items-center px-2 pt-2 text-white min-vh-100 h-100 text-center">
				<a class="navbar-brand mx-auto" href="{{path('app_admin_home')}}">
					<img class="s-1 d-none d-lg-inline w-100 p-2 m-2" src="https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img/https://www.pixel-online.fr/wp-content/uploads/2017/07/logo-pixel.png" alt="Pixel Online Creation">
				</a>
				<button class="navbar-toggler d-lg-none text-center mx-auto" type="button">
					<a href="{{path('app_admin_home')}}" class="badge bg-primary text-light">Pixel</a>
				</button>
				<ul class="nav nav-navbar flex-column mb-sm-auto mb-0 align-items-start" id="menu">
					{% set count = 0 %}
					{% for menu in adminMenu %}

						{% if (count == 1) or (count == 4) or (count == 5)%}
							<hr class="hr">
						{% endif %}

						{% if menu.text == 'Deconnexion' %}
							<li class="nav-item my-2 col-12">


								<a class="text-danger nav-link {% if routeName == menu.url %} actived{% endif %} d-flex flex-nowrap" href="{{menu.url}}" title="{{menu.title}}">
									<div class="col-12 col-lg-3 d-flex align-items-center justify-content-center{% if routeName == menu.url %} activ {% else %} bg-white{% endif %}  rounded-pill p-1">
										<img class="iconMenu w-75" src="{{asset(menu.icon)}}" alt="icon menu">
									</div>
									<div class="link-nav col-0 col-lg-9 d-flex align-items-center justify-content-center">
										<span class="s-1 d-none d-lg-inline-block">{{menu.text}}</span>
									</div>
								</a>

							</li>

						{% else %}

							<li class="nav-item my-2 col-12">


								<a class="text-white nav-link {% if routeName == menu.url %} actived{% endif %} d-flex flex-nowrap" href="{{menu.url}}" title="{{menu.title}}">
									<div class="col-12 col-lg-3 d-flex align-items-center justify-content-center {% if routeName == menu.url %} activ {% else %} bg-white{% endif %} rounded-pill p-1">
										<img class="iconMenu w-75" src="{{asset(menu.icon)}}" alt="icon menu">
									</div>
									<div class="link-nav col-0 col-lg-9 d-flex align-items-center justify-content-center">
										<span class="s-1 d-none d-lg-inline-block ">{{menu.text}}</span>
									</div>
								</a>

							</li>

						{% endif %}
						{% set count = count + 1 %}
					{% endfor %}
				</li>
			</ul>
			<hr>
		</div>
	</div>
	<div class="col-9 col-md-10 py-3">
